.auth_stuff {
  margin: auto;
  justify-content: center;
  text-align: center;
  padding: 15px 2%;
  background-color: yellowgreen;
}

#top5_title {
  padding: 15px;
}

.auth_stuff button {
  border: none;
  border-radius: 10px;
  color: hotpink;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  padding: 5px 2%;
  margin: 4px auto;
  transition: .444s;
}

.auth_stuff button:hover {
  background-color: hotpink;
  color: white;
}

div#top-track-display {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.track_wrapper {
  /* justify-content: center; */
  margin: auto;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  font-size: 14px;
}

.track_name {
  color: hotpink;
  font-size: 14px;
  max-width: 150px;
}

.track_artist {
  font-family:'Courier New', Courier, monospace ;
  font-weight: 600;
}

