* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html, body {
  background-color: #BB2649;
}

.auth_stuff {
  margin: auto;
  justify-content: center;
  text-align: center;
  padding: 15px 2%;
}
div.auth_stuff h1 {
  color: #FFB8C9;
  padding: 20px 10px 0px 10px;
}


div.auth_stuff h3, label {
  color: #590015;
  padding: 5px;
}

#album_list_header {
  margin:0 auto 20px;
  background-color: #ffb8c9;
  padding: 35px;
  color: black;
  font-size: 40px;
  border: 2px solid #CB4665;
  border-radius: 15px;
}

.auth_stuff button {
  border: none;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  padding: 8px 5%;
  margin: 20px auto;
  transition: .444s;
}

.auth_stuff button:hover {
  background-color: #CB4665;
  color: white;
}
div.divider {
  height: 1.8px;
  background-color: #590015;
  width: 100%;
  margin: 30px 0px;

}

div#top-track-display {
  display: flex;
  max-width: 600px;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.album_wrapper {
  /* justify-content: center; */
  /* margin: 15px auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  font-size: 14px;
}

.album_wrapper:last-child {
  margin-bottom: 20px;
}

.album_name {
  color:#FFB8C9 ;
  font-size: 24px;
  /* max-width: 20px; */
  margin-bottom: 3px;
  padding: 2px 4px;
}

.album_artist {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-weight: 300;
  margin: 3px;
  padding: 2px 4px;
  font-size: 18px;
  color: #000000;
}

img.album_cover {
  border-radius: 10px;
  padding: 4px;
}
